/* Footer.css */
.sundar-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  display: flex;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin-top: auto; /* This ensures the footer stays at the bottom */
  width: 100%; /* Occupy full width */
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0.1rem;
}

.footer-content p {
  margin: 0;
  font-size: 1.8rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
}

a:hover {
  color: #ff9900;
}
