/* footer.css */

.sundar-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 0;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .footer-content p {
      font-size: 1rem;
  }
}

@media (max-width: 468px) {
  .footer-content p {
      font-size: 0.8rem;
  }
}
