.sundar-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  position: fixed; /* Fixed position to keep it at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 20px; /* Add padding for better spacing */
}

.footer-content p {
  margin: 0;
  font-size: 1.2rem; /* Adjust font size */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
}

a:hover {
  color: #ff9900;
}

