/* home.css */

/* Container styling */
.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  /* Content styling */
  .home-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .bottom-items {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }
  
  .splitgrp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 4rem;
  }
  
/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column; /* Stack content in the container for smaller screens */
    }

    .main-content {
        flex: 1; /* Expand the main content to full width for smaller screens */
    }
}
