.sidebar {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #0f2027, rgb(0, 107, 153), #79bad5);
  color: white;
  padding: 20px;
  /* position: fixed; */
  margin: 0;
  height: 100vh;
  animation: flow 5s linear infinite; /* Add animation to the sidebar background */
}

/* Rest of your CSS styles... */

@keyframes flow {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}


.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.sidebarListItemText {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  /* margin-bottom: 30px; */
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarLogout {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content:space-around ;
  flex-grow: 1;
}

.sidebarLogoutIcon {
  margin-right: 10px;
}

.sidebarLogoutText {
  margin-right: 20px;
  font-size: 30px;
}

/* 
.sidebarLogoutButton {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: #ff0000; 
  color: white;
  text-decoration: none;
  cursor: pointer;
} */

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .sidebar {
    flex: 1; /* Expand the sidebar to full width */
  }

  .sidebarIcon {
    margin-right: 10px; /* Reduce icon margin for smaller screens */
  }

  .sidebarButton {
    width: 120px; /* Decrease button width for smaller screens */
  }
}

/* You can add more media queries for different screen sizes as needed */
