/* group.css */

.group {
    max-width:max-content; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px;
    /* display: flex; */
  }
  
  .group h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .group h2 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  
  .group-button {
    background-color: #2196f3;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .group-button:hover {
    background-color: #1976d2;
  }
  