/* MainGroup.css */

.mainGroup-container {
    /* display: flex;  */
     height: 100vh;
  }
  
  .mainGroup-content {
    display: flex;
    flex: 1; /* Use flex: 1 to make it take up the available space */
    background: #fdfdfd;
  }

  .friend{
    display: flex;
     padding: 2rem;
    width: 50%;
    /* margin: auto; */
    justify-content: flex-start;
  }

  .grp1{
    display: flex;
    flex: 0.5;
     padding: 2rem;
    width: 50%; 
    /* margin: auto; */
    justify-content: flex-end;
  }
  
  /* Adjust the styling of the sidebar as needed */
  .mg-sbar{
    display: flex;
    flex: 0.1;
    /* flex-direction: column; */
    background: linear-gradient(to right, #0f2027, rgb(0, 107, 153), #79bad5);
    /* height:max-content; */
}
  
  /* Adjust the styling of the group content as needed */
  .group-content {
    flex: 1;
    padding: 20px;
  }
  
  /* Media query for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .mainGroup-container {
      flex-direction: column; /* Stack content in the container for smaller screens */
    }
  
    .mainGroup-content {
      flex: 1; /* Expand the main content to fill available space */
    }
  
    .sidebar {
      width: 100%; /* Make the sidebar take up the full width on smaller screens */
    }
  }
  