.notifications-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the container takes full viewport height */
}

.notifications-list {
    display: flex;
    flex: 0.4;
    /* background-image: url('../../../public/images/notifications.jpg'); */
    /* background-size: cover; */
}

/* Define styling for notificationsForm as needed */

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

/* Define styling for Footer content as needed */

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .notifications-container {
        flex-direction: column; /* Stack content in the container for smaller screens */
    }

    .notifications-content {
        flex: 1; /* Expand the main content to full width for smaller screens */
    }
}
