.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/pic1.jpg');
    background-size: cover;
  }
  
  .login-form{
    background-color: #2c2d31;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(250, 5, 5, 0.2); 
    text-align: center;
  }
   .login-form .header{
    text-align: center;
    color: #fff;
    width: 100%;
  }
 
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* text-align: center; */
  }
  
  button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(8, 240, 228);
    color: #2c2d31;
    border: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
