/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../public/images/log4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(to right, #141e30, #243b55); */
  padding: 20px;
}

.login-form {
  background: linear-gradient(to bottom, #ffe51e, #ededed, #ffffff);

  padding: 2rem;
  border-radius: 10px;
  border-color: #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.MuiTextField-root {
  /* color: #ffffff; */
  margin-bottom: 1rem;
}

button {
  background-color: #667eea ;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #556cd6 ;
}

.register2,
.forgetpassword {
  margin-top: 1rem;
}

a {
  color: #667eea;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #556cd6;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #333 !important;
}
