/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/public/images/pic1.jpg');
  background-size: cover;
}

.login-form {
  background-color: rgba(44, 45, 49, 0.95); /* Slightly darker background overlay */
  padding: 20px;
  margin: auto;
  width: 90%;
  max-width: 25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(250, 5, 5, 0.2);
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease;
}

.login-form .header {
  text-align: center;
  color: #fff;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 15px;
  background-color: #08f0e4;
  color: #2c2d31;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #06c7b6;
}

.register2{
  margin-bottom: 1rem;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }

  input {
    padding: 10px;
  }

  button {
    padding: 12px;
  }
}
