/* Signup.css */
.register {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../../../public/images/pic1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-form {
  background-color: rgba(44, 45, 49, 0.9); /* Darker background overlay */
  padding: 20px;
  width: 90%;
  max-width: 25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(250, 5, 5, 0.2);
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease;
}

.register-form:hover {
  background-color: rgba(44, 45, 49, 1); /* Slightly darker on hover */
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
}

.success-message {
  color: #90ee90;
  margin-top: 5px;
}

.error-message {
  color: #FF1A1A;
  margin-top: 5px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  margin-top: 20px;
  /* margin-bottom: 0; */
  padding: 15px;
  background-color: #08f0e4;
  color: #2c2d31;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #06c7b6;
}

.register2 {
  text-decoration: none;
  color: #08f0e4;
  font-weight: 600;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .register-form {
    padding: 20px;
  }

  input {
    padding: 10px;
  }

  button {
    padding: 12px;
  }
}
