/* Center-align the charts within their container */
.graph-container {
    display: flex;
    justify-content: center;
  }
  
  /* Style the chart container */
  .chart {
    flex: 1;
    max-width: 400px;
    margin: 6rem 2rem 6rem 4rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  /* Style the loading spinner */
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
  }
  
  /* Add a loading animation class to the chart during the loading period */
  .chart.loading::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: conic-gradient(
      transparent 0% 25%,
      rgba(255, 255, 255, 0.9) 0% 50%,
      transparent 0% 75%,
      rgba(255, 255, 255, 0.9) 0% 100%
    );
    background-size: 200% 200%;
    animation: loadingAnimation 2s linear infinite;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  