.records-container {
    margin-left: 2rem;
    /* align-items: center; */
    /* position: relative; */
  }
  
  .water-flow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0f2027, rgb(0, 107, 153), #79bad5);
    opacity: 0.6;
    z-index: -1;
    animation: flow 10s linear infinite reverse;
  }
  
  @keyframes flow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .category-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 5rem;
  }
  
  .page-title{
      /* margin: auto; */
      font-size: 5rem;
      font-weight: bold;
      align-items:center;
      justify-content: space-around;
  }

  .record-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5rem;
  }
  
  .record-note {
    font-weight: bold;
  }
  
  .loading-spinner {
    margin-top: 20px;
    text-align: center;
  }
  

.innercontainer{
    display: flex;
}

  .income{
    display: flex;
  }
  .expense{
    display: flex;
  }
  .transfer{
    display: flex;
  }