/* ViewTransac.css */
.view-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4; /* Set background color for the entire container */
}

.view-content {
    display: flex;
    flex: 1;
    background: #fff;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow to the content */
}

.view-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .view-container {
        flex-direction: column;
    }
}
/* ViewTransac.css */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .view-inner {
        padding: 15px; /* Adjust padding for smaller screens */
    }
}

