.register{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../../../public/images/pic1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}


.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  background-color: rgb(44, 45, 49);
  padding: 20px;
  width: 90%;
  max-width: 25rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(250, 5, 5, 0.2);
  text-align: center;
  color: #fff;
}

.register-form .header {
  font-size: 2rem;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(8, 240, 228);
  color: #2c2d31;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .register-form {
    padding: 20px;
  }

  input {
    padding: 10px;
  }

  button {
    padding: 12px;
  }
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

.register-btn{
  margin-bottom: 1rem;
}

.register2 {
  text-decoration: none;
  color: #08f0e4;
  font-weight: 600;
}
